.skill_container{
	margin-top: 20px;
	overflow-x: hidden;

}

.skill_container .rapid_description{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 10px;
	margin-left: 5%;

	justify-content: center;
	align-items: center;
}
.skill_container .rapid_description img{
	height :130px ;
	width : 130px;
	transform: translateX(94px);
	background-color: inherit;
}
.skill_container .rapid_description .hex1 h2{
	flex: 1;
	transform:  rotate3d(1,1,1,90deg);
	text-align: center;

	font-size: 16px;
	color: #fff;

}
.skill_container .rapid_description h3{
	color: #e52d27;
	font-size: 1.5em;
	text-align: center;
	opacity: .7;
}
.skill_container .rapid_description p{
	text-align: justify;
	padding: 8px;
	font-size: 18px;
}
.skill_container .rapid_description .hex2 h2{
	transform:  rotate3d(1,1,1,90deg);
	text-align: center;
	font-size: 16px;
	flex: 1;
	color: #fff;

}
.skill_container .rapid_description .hex h2{
	text-align: center;
	font-size: 16px;
	transform:  rotate3d(1,1,1,90deg);

	flex: 1;
	color: #fff;

}
.skill_container .rapid_description .hex1{
	position: absolute;
	top: 68px;
	transform: rotateZ(63deg);
	animation: hex1 5s linear infinite ;
}

.progressBar{
	display: flex;
	flex-direction: column;
	background: #8A2387;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.progressBar .front-end .title{
	color: #fff;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 30px;
}
.progressBar .action {
	display: grid;
	grid-template-columns: 1fr 1fr ;
	width: 90%;
	min-width: 30%;
	margin-left: 2em;

}
.progressBar .action .action-item {
	display: flex;
	flex: 1;
	flex-direction: row;
}
.progressBar .action .action-item p{
    margin: -2px 54px 3px 63px;
    color: #fff;
    font-size: 18px;
    z-index: 2;
}

.divide{
	width: 100vw;
	height: 1em;
	background: #200122;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	position: relative;
	background-attachment: fixed;
	animation: divider 2s linear infinite ;
}
@keyframes divider{
	0%{
		filter: drop-shadow(16px 16px 20px red) invert(50%);
	}
	25%{
		filter: drop-shadow(16px 16px 20px blue) invert(75%);
	}
	50%{
		filter: drop-shadow(16px 16px 20px green) invert(45%);
	}
	100%{
		filter: drop-shadow(16px 16px 20px pink) invert(75%);
	}

}

@media (max-width: 898px){
	.skill_container{
		margin-top: 20px;
		overflow-x: hidden;
		width: 100vw;

	}
	.skill_container .rapid_description{
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 2px;
		margin-left: 2%;

		justify-content: center;
		align-items: center;
	}
	.progressBar .action {
		display: grid;
		grid-template-columns: 1fr ;
		width: 90%;
		min-width: 30%;
		margin-left: 8px;
		margin-right: 8px;

	}
	.progressBar .action .action-item {
	display: flex;
	flex: 1;
	flex-direction: column;
    }
    .progressBar{
    	display: flex;
    	flex-direction: column;
    	width: 100vw;
    	position: relative;
    	right: 0;
    	left: 0;
    	background: #8A2387;  /* fallback for old browsers */
    	background: -webkit-linear-gradient(to left, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    	background: linear-gradient(to left, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }
    .skill_container .rapid_description .hexagone{
    	display: none;
    }

}