.projectContainer{
	overflow: hidden;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 14px;
}

@media screen AND (max-width: 480px){

	.projectContainer{
		overflow: hidden;
		display: grid;
	    grid-template-columns: 1fr ;
	    grid-column-gap: 14px;
	}
	
}

@media screen AND (max-width: 950px ) AND (min-width: 481px) {

	.projectContainer{
		overflow: hidden;
		display: grid;
	    grid-template-columns: 1fr 1fr ;
	    grid-column-gap: 14px;
	}
	
}

@media screen AND (max-width: 1000px ) AND (min-width: 980px) {

	.projectContainer{
		overflow: hidden;
		display: grid;
	    grid-template-columns: 1fr 1fr 1fr ;
	    grid-column-gap: 14px;
	}
	
}